$main-color: #fff;
$brand-color: #3e72aa;
$bg-color: $brand-color;

@mixin fontReg() {
	font-family: Arial, Arial, Helvetica, sans-serif;
}
@mixin fontAcc() {
	font-family: Tahoma, Geneva, sans-serif;
}