/node_modules
.DS_Store
/dist
config.json
text_*.html
index_*.html
index.html
rus.html
ukr.html
eng.html
*.log
deploy-config.sh
sftp.json
dist.zip
config_secrets.php



# Ignore kluster.ai Verify Code rules
.cursor/rules/kluster-code-verify.mdc
